<!doctype html>
<html lang="en">
    <head>
        <title>Didongxanh | Đăng nhập</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel ="shortcut icon" href="../../img/logo/favicon_Didongxanh.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../../public/css/style.css">
    </head>
    <body class="body-login">
        <div class="topnav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="logo-web">
                            <a href="home.html"><img src="../../img/logo/logo_Didongxanh_white.png" width="150px" height="auto"></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="search-nav">
                            <input id="search" class="form-control" type="text" style="position: relative;" placeholder="Tìm kiếm">
                            <ul class="list-group" id="result" style="margin-top: 15px"></ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-5 col-5">
                        <div class="bag-nav dropdown-bag">
                            <a href="checkout_cart.html" class="link-bag">
                                <i class="fa fa-shopping-bag" style="font-size: 28px;"></i>
                                <span class="text-bag">Giỏ</span>
                                <span class="badge badge-dark badge-pill" id="munber-bag"></span>
                            </a>
                            <div class="dropdown-bag-content">
                                <div style="background-color: #ff6700; height: 5px; border-radius: 3px 3px 0 0"></div>
                                <div class="list-group" id="dropdown-bag-content">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-7 col-7">
                        <div class="login-nav dropdown-login" id="displayLogin">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container container-login">
            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5">
                    <div class="container-form-login">
                        <div class="container-login-head" id="head-signin">
                            <h3>Đăng nhập</h3>
                            <span>Nhập tên người dùng và mật khẩu để đăng nhập</span>
                        </div>
                        <div class="container-login-head" id="head-signup" style="display: none">
                            <h3>Đăng ký</h3>
                            <span>nhập vào mẫu dưới đây để đăng ký tài khoản</span>
                        </div>
                        <div class="tab-login">
                            <div id="tab-sign-in" class="tab-sign-in tab-login-active">
                                Đăng nhập
                            </div>
                             <div id="tab-sign-up" class="tab-sign-up">
                                Đăng ký
                            </div>
                        </div>
                        <div class="container-login-main form-group">
                            <form id="signin">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="usernameSignIn" id="usernameSignIn" placeholder="Tên đăng nhập">
                                    <span class="error-pattern-login"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="passwordSignIn" id="passwordSignIn" placeholder="Mật khẩu">
                                    <span class="error-pattern-login"></span>
                                </div>
                                <input type="button" id="submitSignIn" class="btn btn-primary form-control" value="Đăng nhập">
                            </form>
                            <form id="signup" style="display: none">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="fullNameSignUp" id="fullNameSignUp" placeholder="Họ và tên">
                                    <span class="error-pattern-login"></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="usernameSignUp" id="usernameSignUp" placeholder="Tên đăng nhập">
                                    <span class="error-pattern-login"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="passwordSignUp" id="passwordSignUp" placeholder="Mật khẩu">
                                    <span class="error-pattern-login"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="prePasswordSignUp" id="prePasswordSignUp" placeholder="Nhập lại mật khẩu">
                                    <span class="error-pattern-login"></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="emailSignUp" id="emailSignUp" placeholder="Nhập Email">
                                    <span class="error-pattern-login"></span>
                                </div>
                                <input type="button" id="submitSignUp" class="btn btn-primary form-control" value="Đăng ký">
                            </form>
                            <div class="test"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
        <script src="../../public/js/simple.money.format.js"></script>
        <script>
            $(document).ready(function(){
                $("#search").keyup(function(){
                    $("#result").empty();
                    var searchField = $("#search").val();
                    var expression = new RegExp(searchField, "i");
                    if(expression != "/(?:)/i" & expression != "/ /i" ){
                        $.getJSON('http://localhost:3000/product', function(data){
                            $.each($(data), function(i, value){
                                if(value.name.search(expression) != -1){
                                    $("#result").append(
                                        '<li class="list-group-item list-group-item-action">'+
                                            '<a href="product_detail.html?id='+value.id+'" style="text-decoration: none;">'+
                                                '<img src="'+value.imgCover+'" class="img-thumbnail float-left" " height="48" width="48">'+
                                                '<p class="text-result" style="color: black">'+value.name+'</p>'+
                                                '<p class="text-result text-muted text-muted-search">'+value.price+'</p>'+
                                            '</a>'+
                                        '</li>'                            
                                    );
                                }
                            });
                            $(".text-muted-search").simpleMoneyFormat();
                        });
                    }
                });

                var getUser = localStorage.getItem('username');
                if(getUser == null){
                    $("#displayLogin").empty();
                    $("#displayLogin").append(
                        '<a href="../../site/view/login.html" class="link-login">'+
                            '<i class="fa fa-user" style="font-size: 28px;"></i>'+
                            '<span class="text-login" id="text-login">Đăng nhập</span>'+
                        '</a>'
                    );
                }else{
                    $("#displayLogin").empty();
                    $("#displayLogin").append(
                        '<div class="link-login">'+
                            '<i class="fa fa-user" style="font-size: 28px;"></i>'+
                            '<span class="text-login" id="text-login">'+getUser+'</span>'+
                        '</div>'+
                        '<div class="dropdown-login-content">'+
                            '<a href="my_account.html" class="list-group-item list-group-item-action">Kiểm tra thông tin</a>'+
                            '<a href="#" id="logout" class="list-group-item list-group-item-action">Đăng xuất</a>'+
                        '</div>'
                    );
                    $("#logout").click(function(){
                        localStorage.removeItem("username");
                        $("#displayLogin").empty();
                        $("#displayLogin").append(
                        '<a href="../../site/view/login.html" class="link-login">'+
                            '<i class="fa fa-user" style="font-size: 28px;"></i>'+
                            '<span class="text-login" id="text-login">Đăng nhập</span>'+
                        '</a>'
                        );
                    });
                }

                $.getJSON('http://localhost:3000/bag', function(){
                    var checkLogin = $("#text-login").text();
                    if(checkLogin == 'Đăng nhập'){
                        $("#dropdown-bag-content").append(
                            '<li class="list-group-item list-group-item-action not-login-bag">'+
                                '<img src="../../img/icon/not-login.png" width="48" height="48">'+
                                '<h6>Bạn chưa đăng nhập!</h6>'+
                                '<p style="font-size: 14px">Bạn có muốn đăng nhập để tiếp tục?</p>'+
                                '<a href="login.html" class="btn btn-outline-secondary">Đồng ý</a>'+
                            '</li>'  
                        );
                    }else{
                        $.getJSON('http://localhost:3000/bag?nameBag='+checkLogin, function(data){
                            $("#munber-bag").text(data.length);
                            if(data.length == 0){
                                $("#dropdown-bag-content").append(
                                    '<li class="list-group-item list-group-item-action not-login-bag">'+
                                        '<img src="../../img/icon/shopping-cart-empty.png" width="48" height="48">'+
                                        '<h6>Giỏ hàng trống!</h6>'+
                                        '<p style="font-size: 14px">Bạn có muốn tìm hiểu thêm các sản phẩm?</p>'+
                                        '<a href="product.html?company=all" class="btn btn-outline-secondary">Đồng ý</a>'+
                                    '</li>'  
                                );
                            }else{
                                $.each($(data), function(i, bag){                                
                                    $("#dropdown-bag-content").append(
                                        '<li class="list-group-item list-group-item-action">'+
                                            '<img src="'+bag.imgCover+'" class="img-thumbnail float-left" " height="46" width="46">'+
                                            '<p class="text-result" style="color: black">'+bag.name+' | '+bag.color+' <span class="badge badge-pill" style="background-color: #ff6700; color: white">'+bag.number+'</span></p>'+                
                                            '<p class="text-result text-muted">'+bag.price+'</p>'+
                                        '</li>'  
                                    );
                                });
                                $("#dropdown-bag-content").append(
                                    '<li class="list-group-item list-group-item-action" style="text-align: center">'+
                                        '<a href="checkout_cart.html" class="btn btn-outline-secondary">Xem chi tiết</a>'+
                                    '</li>'  
                                );
                                $(".text-muted").simpleMoneyFormat();
                            }                              
                        });  
                    }
                }); 

                $("#tab-sign-in").click(function(){
                    $("#tab-sign-up").removeClass("tab-login-active");
                    $("#tab-sign-in").addClass("tab-login-active");
                    $("#head-signup").hide();
                    $("#signup").hide();
                    $("#head-signin").show();
                    $("#signin").show();
                });
                $("#tab-sign-up").click(function(){
                    $("#tab-sign-in").removeClass("tab-login-active");
                    $("#tab-sign-up").addClass("tab-login-active");
                    $("#head-signin").hide();
                    $("#signin").hide();
                    $("#head-signup").show();
                    $("#signup").show();
                });

                $("#submitSignUp").click(function(){
                    $.getJSON('http://localhost:3000/user', function(data){
                        $.each($(data), function(i, user){
                            var isValid = true;
                            var fullNamePattern = /[A-za-z]{3}/;
                            var userNamePattern = /[A-Za-z0-9]{3}/;
                            var emailPattern = /\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}\b/;
                            var fullName = $("#fullNameSignUp").val().trim();;
                            var userName = $("#usernameSignUp").val().trim();
                            var password = $("#passwordSignUp").val();
                            var prePassword = $("#prePasswordSignUp").val();
                            var email = $("#emailSignUp").val().trim();
                            if(fullName == ''){
                                isValid = false;
                                $("#fullNameSignUp").css('border', '1px solid red');
                                $("#fullNameSignUp").next().text('Bạn chưa nhập tên!');
                            }else if(!fullNamePattern.test(fullName)){
                                isValid = false;
                                $("#fullNameSignUp").css('border', '1px solid red');
                                $("#fullNameSignUp").next().text('Tên của bạn quá ngắn!');
                            }else{
                                $("#fullNameSignUp").css('border', '1px solid #ced4da');
                                $("#fullNameSignUp").next().text('');
                            }

                            if(userName == ''){
                                isValid = false;
                                $("#usernameSignUp").css('border', '1px solid red');
                                $("#usernameSignUp").next().text('Bạn chưa nhập tên đăng nhập!');
                            }else if(!userNamePattern.test(userName)){
                                isValid = false;
                                $("#usernameSignUp").css('border', '1px solid red');
                                $("#usernameSignUp").next().text('Tên đăng nhập của bạn quá ngắn!');
                            }else if(userName == user.userName){
                                $("#usernameSignUp").css('border', '1px solid red');
                                $("#usernameSignUp").next().text('Tên đăng nhập của bạn đã tồn lại!');
                            }else{
                                $("#usernameSignUp").css('border', '1px solid #ced4da');
                                $("#usernameSignUp").next().text('');
                            }

                            if(password == ''){
                                isValid = false;
                                $("#passwordSignUp").css('border', '1px solid red');
                                $("#passwordSignUp").next().text('Bạn chưa nhập mật khẩu!');
                            }else{
                                $("#passwordSignUp").css('border', '1px solid #ced4da');
                                $("#passwordSignUp").next().text('');
                            }

                            if(prePassword == ''){
                                isValid = false;
                                $("#prePasswordSignUp").css('border', '1px solid red');
                                $("#prePasswordSignUp").next().text('Bạn chưa xác minh lại mật khẩu!');
                            }else if(prePassword != password){
                                isValid = false;
                                $("#prePasswordSignUp").css('border', '1px solid red');
                                $("#prePasswordSignUp").next().text('Mật khẩu của bạn không trùng khớp!');
                            }else{
                                $("#prePasswordSignUp").css('border', '1px solid #ced4da');
                                $("#prePasswordSignUp").next().text('');
                            }

                            if(email == ''){
                                isValid = false;
                                $("#emailSignUp").css('border', '1px solid red');
                                $("#emailSignUp").next().text('Bạn chưa nhập email!');
                            }else if(!emailPattern.test(email)){
                                isValid = false;
                                $("#emailSignUp").css('border', '1px solid red');  
                                $("#emailSignUp").next().text('Email của bạn không đúng định dạng!');                     
                            }else if(email == user.email){
                                $("#emailSignUp").css('border', '1px solid red');
                                $("#emailSignUp").next().text('Email của bạn đã tồn lại!');
                            }else{
                                $("#emailSignUp").css('border', '1px solid #ced4da');
                                $("#emailSignUp").next().text('');
                            }

                            if(isValid == true){
                                $.ajax({
                                    type: 'POST',
                                    url: 'http://localhost:3000/user',
                                    data: {
                                        fullName: fullName,
                                        userName: userName,
                                        password: password,
                                        email: email
                                    },
                                    success: function(data) { 
                                        alert('Đã đăng ký thành công!'); 
                                    },
                                    dataType: 'json'
                                });    
                            }
                        });
                    });
                });
                $("#submitSignIn").click(function(){                   
                    var isValid = true;
                    var userName = $("#usernameSignIn").val().trim();
                    var password = $("#passwordSignIn").val();
                    if($("#text-login").text() != 'Đăng nhập'){
                        alert('Bạn phải đăng xuất tài khoản hiện tại!'); 
                    }else{
                        if(userName == ''){
                            isValid = false;
                            $("#usernameSignIn").css('border', '1px solid red');
                            $("#usernameSignIn").next().text('Bạn chưa nhập tên đăng nhập!');
                        }else{
                            $("#usernameSignIn").css('border', '1px solid #ced4da');
                            $("#usernameSignIn").next().text('');
                        }
                        
                        if(password == ''){
                            isValid = false;
                            $("#passwordSignIn").css('border', '1px solid red');
                            $("#passwordSignIn").next().text('Bạn chưa nhập mật khẩu!');
                        }else{
                            $("#passwordSignIn").css('border', '1px solid #ced4da');
                            $("#passwordSignIn").next().text('');
                        }
                        if($("#text-login").text() != 'Đăng nhập'){
                            isValid = false;
                            alert('Bạn phải đăng xuất tài khoản hiện tại!'); 
                        }
                            
                        if(isValid == true){
                            $.getJSON('http://localhost:3000/user', function(data){    
                                $.each($(data), function(i, user){    
                                    if(user.userName == userName & user.password == password){
                                        $("#passwordSignIn").next().text('');
                                        localStorage.setItem('username', userName);
                                        $(location).attr('href', 'home.html'); 
                                    }else{
                                        $("#passwordSignIn").next().text('Tên đăng nhập hoặc mật khẩu của bạn không đúng!');
                                    }
                                });
                            });
                        }
                    }
                });
            });
        </script>
    </body>
</html>