<!doctype html>
<html lang="en">
    <head>
        <title>Didongxanh | Sản phẩm</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel ="shortcut icon" href="../../img/logo/favicon_Didongxanh.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../../public/css/style.css">
    </head>
    <body style="background-color: #f0f3f4">       
        <div class="topnav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="logo-web">
                            <a href="home.html"><img src="../../img/logo/logo_Didongxanh_white.png" width="150px" height="auto"></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="search-nav">
                            <input id="search" class="form-control" type="text" style="position: relative;" placeholder="Tìm kiếm">
                            <ul class="list-group" id="result" style="margin-top: 15px"></ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-5 col-5">
                        <div class="bag-nav dropdown-bag">
                            <a href="checkout_cart.html" class="link-bag">
                                <i class="fa fa-shopping-bag" style="font-size: 28px;"></i>
                                <span class="text-bag">Giỏ</span>
                                <span class="badge badge-dark badge-pill" id="munber-bag"></span>
                            </a>
                            <div class="dropdown-bag-content">
                                <div style="background-color: #ff6700; height: 5px; border-radius: 3px 3px 0 0"></div>
                                <div class="list-group" id="dropdown-bag-content">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-7 col-7">
                        <div class="login-nav dropdown-login" id="displayLogin">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="home.html" class="navbar-toggler" style="color: #ccc">Trang chủ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav" id="navCompany">
                    
                </ul>
            </div>           
        </nav>

        <div class="product-head">
            <span class="product-head-text" id="text-header-search"></span>
        </div>
        <div class="container product-main">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="search-sidebar">
                        <h5 class="search-sidebar-title">Bộ lọc</h5>
                        <div class="search-sidebar-main">
                            <form action="product.html" id="filter">
                                <div class="form-group">
                                    <label for="min-price">Giá</label>
                                    <input type="number" class="form-control form-control-sm" name="min" id="min-price">
                                    <label for="max-price">Đến</label>
                                    <input type="number" class="form-control form-control-sm" name="max" id="max-price">
                                </div>
                                <input type="button" id="submitFilter" class="btn btn-secondary form-control" value="Tìm kiếm">
                            </form>
                        </div>
                        <h5 class="search-sidebar-title">Nhà sản xuất</h5>
                        <div class="search-sidebar-main">
                            <ul class="list-group list-group-flush" id="all-companies">

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="container-pagination">
                        <span id="number-product"></span>
                        <button type="button" id="btn-next" class="btn btn-outline-secondary float-right btn-next"><i class="material-icons">navigate_next</i></button>
                        <button type="button" id="btn-prev" class="btn btn-outline-secondary float-right btn-prev"><i class="material-icons">navigate_before</i></button>
                    </div>
                    <div class="row" id="all-product">    

                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid container-footer-police">
            <div class="container container-police">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="content-police">
                            <div class="float-left police-logo">
                                <img src="../../img/icon/certificate.png" height="42px" width="auto">
                            </div>
                            <div class="police-text">
                                <h6>Hàng chính hãng</h6>
                                <p>Chúng tôi cam kết mọi sản phẩm là hàng chính hãng.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="content-police">
                            <div class="float-left police-logo">
                                <img src="../../img/icon/refresh.png" height="42px" width="auto">
                            </div>
                            <div class="police-text">
                                <h6>Đổi trả hàng</h6>
                                <p>Dễ dàng lên đến 15 ngày đầu khi mua sản phẩm.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="content-police">
                            <div class="float-left police-logo">
                                <img src="../../img/icon/protect-filled.png" height="42px" width="auto">
                            </div>
                            <div class="police-text">
                                <h6>Bảo hành 12 tháng</h6>
                                <p>Chính hãng mọi sản phẩm của chúng tối.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="content-police">
                            <div class="float-left police-logo">
                                <img src="../../img/icon/itruck-filled.png" height="42px" width="auto">
                            </div>
                            <div class="police-text">
                                <h6>Giao hàng toàn quốc</h6>
                                <p>Vận chuyển nhanh trong 60 phút.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid container-footer-about">
            <div class="container container-about">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="content-about">
                            <div class="about-text">
                                <h6>Về chúng tôi</h6>
                                <p>didongxanh.com được thành lập từ năm 2004, là chuỗi bán lẻ thiết bị di động (điện thoại di động, máy tính bảng, laptop và phụ kiện) có thị phần số 1 Việt Nam với hơn 1000 cửa hàng hiện diện tại 63 tỉnh thành trên khắp Việt Nam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="content-about">
                            <div class="about-text">
                                <h6>Liên kết liên quan</h6>
                                <ul style="padding-left: 20px;">
                                    <li>Chính sách bảo hành</li>
                                    <li>Chính sách đổi trả</li>
                                    <li>Giao hàng và thanh toán</li>
                                    <li>Tìm hiểu về mua trả góp</li>
                                    <li>Tin khuyến mãi</li>
                                    <li>Hệ thống cửa hàng</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="content-about">
                            <div class="about-text">
                                <h6>Liên hệ</h6>
                                <p>Tư vấn miễn phí (24/7):</p>
                                <span class="hotline">1800 6601</span>
                                <p>Góp ý, phản ánh (8h00 - 22h00):</p>
                                <span class="hotline">1800 6616</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="content-about">
                            <div class="about-text" style="text-align: left">
                                <h6>Liên kết khác</h6>
                                <p><i class="material-icons" style="font-size: 12px">email</i>  Email: hotro@didongxanh.com</p>
                                <p><i class="fa fa-facebook-official"></i>  Fanpage: fb.com/didongxanh</p>
                                <p><i class="fa fa-youtube-play"></i>  Youtube: Di Động Xanh</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid container-footer-copyright">
            <div class="container container-copyright">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-6">
                        <div class="content-copyright">
                            <p>Copyright © 2018</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-6">
                        <div class="content-card">
                            <i class="fa fa-cc-visa"></i>
                            <i class="fa fa-cc-mastercard"></i>
                            <i class="fa fa-credit-card-alt"></i>
                            <i class="fa fa-cc-jcb"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="../../public/js/simple.money.format.js"></script>
        <script>
            $(document).ready(function(){
                $("#search").keyup(function(){
                    $("#result").empty();
                    var searchField = $("#search").val();
                    var expression = new RegExp(searchField, "i");
                    if(expression != "/(?:)/i" & expression != "/ /i" ){
                        $.getJSON('http://localhost:3000/product', function(data){
                            $.each($(data), function(i, value){
                                if(value.name.search(expression) != -1){
                                    $("#result").append(
                                        '<li class="list-group-item list-group-item-action">'+
                                            '<a href="product_detail.html?id='+value.id+'" style="text-decoration: none;">'+
                                                '<img src="'+value.imgCover+'" class="img-thumbnail float-left" " height="48" width="48">'+
                                                '<p class="text-result" style="color: black">'+value.name+'</p>'+
                                                '<p class="text-result text-muted text-muted-search">'+value.price+'</p>'+
                                            '</a>'+
                                        '</li>'                            
                                    );
                                }
                            });
                            $(".text-muted-search").simpleMoneyFormat();
                        });
                    }
                });

                var getUser = localStorage.getItem('username');
                if(getUser == null){
                    $("#displayLogin").empty();
                    $("#displayLogin").append(
                        '<a href="../../site/view/login.html" class="link-login">'+
                            '<i class="fa fa-user" style="font-size: 28px;"></i>'+
                            '<span class="text-login" id="text-login">Đăng nhập</span>'+
                        '</a>'
                    );
                }else{
                    $("#displayLogin").empty();
                    $("#displayLogin").append(
                        '<div class="link-login">'+
                            '<i class="fa fa-user" style="font-size: 28px;"></i>'+
                            '<span class="text-login" id="text-login">'+getUser+'</span>'+
                        '</div>'+
                        '<div class="dropdown-login-content">'+
                            '<a href="my_account.html" class="list-group-item list-group-item-action">Kiểm tra thông tin</a>'+
                            '<a href="#" id="logout" class="list-group-item list-group-item-action">Đăng xuất</a>'+
                        '</div>'
                    );
                    $("#logout").click(function(){
                        localStorage.removeItem("username");
                        $("#displayLogin").empty();
                        $("#displayLogin").append(
                        '<a href="../../site/view/login.html" class="link-login">'+
                            '<i class="fa fa-user" style="font-size: 28px;"></i>'+
                            '<span class="text-login" id="text-login">Đăng nhập</span>'+
                        '</a>'
                        );
                    });
                }
                
                $.getJSON('http://localhost:3000/companies', function(data){
                    $.getJSON('http://localhost:3000/product', function(product){
                        var productLenght = product.length;
                        $("#all-companies").append(
                            '<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">'+
                                '<a href="product.html?company=all" style="text-decoration: none; color: #495057">Tất cả</a>'+
                                '<span class="badge badge-secondary badge-pill">'+productLenght+'</span>'+
                            '</li>'
                        );
                    });   
                    $.each($(data), function(i, companies){
                        $.getJSON('http://localhost:3000/product?company='+companies.nameCompany, function(dataCompany){
                            var companyLenght = dataCompany.length;
                            $("#all-companies").append(
                                '<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">'+
                                    '<a href="product.html?company='+companies.nameCompany+'" style="text-decoration: none; color: #495057">'+companies.nameCompany+'</a>'+
                                    '<span class="badge badge-secondary badge-pill">'+companyLenght+'</span>'+
                                '</li>'
                            );
                        });
                        $("#navCompany").append(
                            '<li class="nav-item" style="width:'+100/data.length+'%">'+
                                '<a class="nav-link" href="product.html?company='+companies.nameCompany+'">'+companies.nameCompany+'</a>'+
                            '</li>'
                        );
                    });
                });
                
                $.getJSON('http://localhost:3000/bag', function(){
                    var checkLogin = $("#text-login").text();
                    if(checkLogin == 'Đăng nhập'){
                        $("#dropdown-bag-content").append(
                            '<li class="list-group-item list-group-item-action not-login-bag">'+
                                '<img src="../../img/icon/not-login.png" width="48" height="48">'+
                                '<h6>Bạn chưa đăng nhập!</h6>'+
                                '<p style="font-size: 14px">Bạn có muốn đăng nhập để tiếp tục?</p>'+
                                '<a href="login.html" class="btn btn-outline-secondary">Đồng ý</a>'+
                            '</li>'  
                        );
                    }else{
                        $.getJSON('http://localhost:3000/bag?nameBag='+checkLogin, function(data){
                            $("#munber-bag").text(data.length);
                            if(data.length == 0){
                                $("#dropdown-bag-content").append(
                                    '<li class="list-group-item list-group-item-action not-login-bag">'+
                                        '<img src="../../img/icon/shopping-cart-empty.png" width="48" height="48">'+
                                        '<h6>Giỏ hàng trống!</h6>'+
                                        '<p style="font-size: 14px">Bạn có muốn tìm hiểu thêm các sản phẩm?</p>'+
                                        '<a href="product.html?company=all" class="btn btn-outline-secondary">Đồng ý</a>'+
                                    '</li>'  
                                );
                            }else{
                                $.each($(data), function(i, bag){                                
                                    $("#dropdown-bag-content").append(
                                        '<li class="list-group-item list-group-item-action">'+
                                            '<img src="'+bag.imgCover+'" class="img-thumbnail float-left" " height="46" width="46">'+
                                            '<p class="text-result" style="color: black">'+bag.name+' | '+bag.color+' <span class="badge badge-pill" style="background-color: #ff6700; color: white">'+bag.number+'</span></p>'+                
                                            '<p class="text-result text-muted">'+bag.price+'</p>'+
                                        '</li>'  
                                    );
                                });
                                $("#dropdown-bag-content").append(
                                    '<li class="list-group-item list-group-item-action" style="text-align: center">'+
                                        '<a href="checkout_cart.html" class="btn btn-outline-secondary">Xem chi tiết</a>'+
                                    '</li>'  
                                );
                                $(".text-muted").simpleMoneyFormat();
                            }                              
                        });  
                    }
                });

                function getQueryVariable(variable){
                    var query = window.location.search.substring(1);
                    var vars = query.split('&');
                    for (var i=0;i<vars.length;i++) {
                            var pair = vars[i].split('=');
                            if(pair[0] == variable){return pair[1];}
                    }
                    return false;
                }
                var companyValue = getQueryVariable('company');

                var minValue = getQueryVariable('min');
                var maxValue = getQueryVariable('max');
                
                var hotValue = getQueryVariable('hot');
                
                var page = 1;
                var pagelimit = 15;
                if(companyValue == 'all'){
                    $.getJSON('http://localhost:3000/product', function(data){
                        var totalRecord = data.length;
                        var totalPage = Math.floor(totalRecord/pagelimit) + 1;
                        $("#number-product").text('Có '+totalRecord+' sản phẩm ('+page+'/'+totalPage+' trang)');
                        $.getJSON('http://localhost:3000/product?_page='+page+'&_limit='+pagelimit, function(data){
                            $.each($(data), function(i, products){
                                $("#all-product").append(
                                    '<div class="col-md-4 col-sm-6 col-6">'+
                                        '<div class="container-product card">'+
                                            '<a href="product_detail.html?id='+products.id+'" style="text-decoration: none;">'+
                                                '<div class="card-img-top img-product" style="background: url('+products.imgCover+') no-repeat; background-position: 50% 50%; background-size: cover;"></div>'+
                                                '<div class="card-body">'+
                                                    '<h4 class="name-products">'+products.name+'</h4>'+
                                                    '<h5 class="card-text price-product">'+products.price+'</h5>'+
                                                '</div>'+
                                                '<div class="overlay-product">'+
                                                    '<div class="info-overlay-product">'+
                                                        '<h4 class="name-products" style="color: white; margin-bottom: 3px">'+products.name+'</h4>'+
                                                        '<h5 class="card-text price-product">'+products.price+'</h5>'+
                                                        '<p class="specifications-product">Màn hình: '+products.specifications.screen+'</p>'+
                                                        '<p class="specifications-product">Hệ điều hành: '+products.specifications.os+'</p>'+
                                                        '<p class="specifications-product">Camera sau: '+products.specifications.endCamera+'</p>'+
                                                        '<p class="specifications-product">Camera trước: '+products.specifications.frontCamera+'</p>'+
                                                        '<p class="specifications-product">CPU: '+products.specifications.cpu+'</p>'+
                                                        '<p class="specifications-product">RAM: '+products.specifications.ram+'</p>'+
                                                        '<p class="specifications-product">Bộ nhớ trong: '+products.specifications.rom+'</p>'+
                                                        '<p class="specifications-product">Pin: '+products.specifications.battery+'</p>'+
                                                    '</div>'+
                                                '</div>'+
                                            '</a>'+
                                        '</div>'+
                                    '</div>'
                                );
                            });
                            $("#text-header-search").text('Tất cả sản phẩm');
                            $(".price-product").simpleMoneyFormat();
                        });
                        $("#btn-prev").click(function(){
                            if(page > 1){
                                page = page - 1;
                                $("#number-product").text('Có '+totalRecord+' sản phẩm ('+page+'/'+totalPage+' trang)');
                                $.getJSON('http://localhost:3000/product?_page='+page+'&_limit='+pagelimit, function(data){
                                    $("#all-product").empty();
                                    $.each($(data), function(i, products){
                                        $("#all-product").append(
                                            '<div class="col-md-4 col-sm-6 col-6">'+
                                                '<div class="container-product card">'+
                                                    '<a href="product_detail.html?id='+products.id+'" style="text-decoration: none;">'+
                                                        '<div class="card-img-top img-product" style="background: url('+products.imgCover+') no-repeat; background-position: 50% 50%; background-size: cover;"></div>'+
                                                        '<div class="card-body">'+
                                                            '<h4 class="name-products">'+products.name+'</h4>'+
                                                            '<h5 class="card-text price-product">'+products.price+'</h5>'+
                                                        '</div>'+
                                                        '<div class="overlay-product">'+
                                                            '<div class="info-overlay-product">'+
                                                                '<h4 class="name-products" style="color: white; margin-bottom: 3px">'+products.name+'</h4>'+
                                                                '<h5 class="card-text price-product">'+products.price+'</h5>'+
                                                                '<p class="specifications-product">Màn hình: '+products.specifications.screen+'</p>'+
                                                                '<p class="specifications-product">Hệ điều hành: '+products.specifications.os+'</p>'+
                                                                '<p class="specifications-product">Camera sau: '+products.specifications.endCamera+'</p>'+
                                                                '<p class="specifications-product">Camera trước: '+products.specifications.frontCamera+'</p>'+
                                                                '<p class="specifications-product">CPU: '+products.specifications.cpu+'</p>'+
                                                                '<p class="specifications-product">RAM: '+products.specifications.ram+'</p>'+
                                                                '<p class="specifications-product">Bộ nhớ trong: '+products.specifications.rom+'</p>'+
                                                                '<p class="specifications-product">Pin: '+products.specifications.battery+'</p>'+
                                                            '</div>'+
                                                        '</div>'+
                                                    '</a>'+
                                                '</div>'+
                                            '</div>'
                                        );
                                    });
                                    $("#text-header-search").text('Tất cả sản phẩm');
                                    $(".price-product").simpleMoneyFormat();
                                });
                            }
                        });
                        $("#btn-next").click(function(){
                            if(page*pagelimit < totalRecord){
                                page = page + 1;
                                $("#number-product").text('Có '+totalRecord+' sản phẩm ('+page+'/'+totalPage+' trang)');
                                $.getJSON('http://localhost:3000/product?_page='+page+'&_limit='+pagelimit, function(data){
                                    $("#all-product").empty();
                                    $.each($(data), function(i, products){
                                        $("#all-product").append(
                                            '<div class="col-md-4 col-sm-6 col-6">'+
                                                '<div class="container-product card">'+
                                                    '<a href="product_detail.html?id='+products.id+'" style="text-decoration: none;">'+
                                                        '<div class="card-img-top img-product" style="background: url('+products.imgCover+') no-repeat; background-position: 50% 50%; background-size: cover;"></div>'+
                                                        '<div class="card-body">'+
                                                            '<h4 class="name-products">'+products.name+'</h4>'+
                                                            '<h5 class="card-text price-product">'+products.price+'</h5>'+
                                                        '</div>'+
                                                        '<div class="overlay-product">'+
                                                            '<div class="info-overlay-product">'+
                                                                '<h4 class="name-products" style="color: white; margin-bottom: 3px">'+products.name+'</h4>'+
                                                                '<h5 class="card-text price-product">'+products.price+'</h5>'+
                                                                '<p class="specifications-product">Màn hình: '+products.specifications.screen+'</p>'+
                                                                '<p class="specifications-product">Hệ điều hành: '+products.specifications.os+'</p>'+
                                                                '<p class="specifications-product">Camera sau: '+products.specifications.endCamera+'</p>'+
                                                                '<p class="specifications-product">Camera trước: '+products.specifications.frontCamera+'</p>'+
                                                                '<p class="specifications-product">CPU: '+products.specifications.cpu+'</p>'+
                                                                '<p class="specifications-product">RAM: '+products.specifications.ram+'</p>'+
                                                                '<p class="specifications-product">Bộ nhớ trong: '+products.specifications.rom+'</p>'+
                                                                '<p class="specifications-product">Pin: '+products.specifications.battery+'</p>'+
                                                            '</div>'+
                                                        '</div>'+
                                                    '</a>'+
                                                '</div>'+
                                            '</div>'
                                        );
                                    });
                                    $("#text-header-search").text('Tất cả sản phẩm');
                                    $(".price-product").simpleMoneyFormat();
                                });
                            }
                        });
                    });
                    
                }else if(hotValue == 'banchay'){
                    $.getJSON('http://localhost:3000/product?hot=1', function(data){
                        var totalRecord = data.length;
                        var totalPage = Math.floor(totalRecord/pagelimit) + 1;
                        $("#number-product").text('Có '+totalRecord+' sản phẩm ('+page+'/'+totalPage+' trang)');
                        $.getJSON('http://localhost:3000/product?hot=1&_page='+page+'&_limit='+pagelimit, function(data){
                            $.each($(data), function(i, products){
                                $("#all-product").append(
                                    '<div class="col-md-4 col-sm-6 col-6">'+
                                        '<div class="container-product card">'+
                                            '<a href="product_detail.html?id='+products.id+'" style="text-decoration: none">'+
                                                '<div class="card-img-top img-product" style="background: url('+products.imgCover+') no-repeat; background-position: 50% 50%; background-size: cover;"></div>'+
                                                '<div class="card-body">'+
                                                    '<h4 class="name-products">'+products.name+'</h4>'+
                                                    '<h5 class="card-text price-product">'+products.price+'</h5>'+
                                                '</div>'+
                                                '<div class="overlay-product">'+
                                                    '<div class="info-overlay-product">'+
                                                        '<h4 class="name-products" style="color: white; margin-bottom: 3px">'+products.name+'</h4>'+
                                                        '<h5 class="card-text price-product">'+products.price+'</h5>'+
                                                        '<p class="specifications-product">Màn hình: '+products.specifications.screen+'</p>'+
                                                        '<p class="specifications-product">Hệ điều hành: '+products.specifications.os+'</p>'+
                                                        '<p class="specifications-product">Camera sau: '+products.specifications.endCamera+'</p>'+
                                                        '<p class="specifications-product">Camera trước: '+products.specifications.frontCamera+'</p>'+
                                                        '<p class="specifications-product">CPU: '+products.specifications.cpu+'</p>'+
                                                        '<p class="specifications-product">RAM: '+products.specifications.ram+'</p>'+
                                                        '<p class="specifications-product">Bộ nhớ trong: '+products.specifications.rom+'</p>'+
                                                        '<p class="specifications-product">Pin: '+products.specifications.battery+'</p>'+
                                                    '</div>'+
                                                '</div>'+
                                            '</a>'+
                                        '</div>'+
                                    '</div>'
                                );
                            });
                            $("#text-header-search").text('Bán chạy');
                            $(".price-product").simpleMoneyFormat();
                        });
                        $("#btn-prev").click(function(){
                            if(page > 1){
                                page = page - 1;
                                $("#number-product").text('Có '+totalRecord+' sản phẩm ('+page+'/'+totalPage+' trang)');
                                $.getJSON('http://localhost:3000/product?hot=1&_page='+page+'&_limit='+pagelimit, function(data){
                                    $("#all-product").empty();
                                    $.each($(data), function(i, products){
                                        $("#all-product").append(
                                            '<div class="col-md-4 col-sm-6 col-6">'+
                                                '<div class="container-product card">'+
                                                    '<a href="product_detail.html?id='+products.id+'" style="text-decoration: none;">'+
                                                        '<div class="card-img-top img-product" style="background: url('+products.imgCover+') no-repeat; background-position: 50% 50%; background-size: cover;"></div>'+
                                                        '<div class="card-body">'+
                                                            '<h4 class="name-products">'+products.name+'</h4>'+
                                                            '<h5 class="card-text price-product">'+products.price+'</h5>'+
                                                        '</div>'+
                                                        '<div class="overlay-product">'+
                                                            '<div class="info-overlay-product">'+
                                                                '<h4 class="name-products" style="color: white; margin-bottom: 3px">'+products.name+'</h4>'+
                                                                '<h5 class="card-text price-product">'+products.price+'</h5>'+
                                                                '<p class="specifications-product">Màn hình: '+products.specifications.screen+'</p>'+
                                                                '<p class="specifications-product">Hệ điều hành: '+products.specifications.os+'</p>'+
                                                                '<p class="specifications-product">Camera sau: '+products.specifications.endCamera+'</p>'+
                                                                '<p class="specifications-product">Camera trước: '+products.specifications.frontCamera+'</p>'+
                                                                '<p class="specifications-product">CPU: '+products.specifications.cpu+'</p>'+
                                                                '<p class="specifications-product">RAM: '+products.specifications.ram+'</p>'+
                                                                '<p class="specifications-product">Bộ nhớ trong: '+products.specifications.rom+'</p>'+
                                                                '<p class="specifications-product">Pin: '+products.specifications.battery+'</p>'+
                                                            '</div>'+
                                                        '</div>'+
                                                    '</a>'+
                                                '</div>'+
                                            '</div>'
                                        );
                                    });
                                    $("#text-header-search").text('Bán chạy');
                                    $(".price-product").simpleMoneyFormat();
                                });
                            }
                        });
                        $("#btn-next").click(function(){
                            if(page*pagelimit < totalRecord){
                                page = page + 1;
                                $("#number-product").text('Có '+totalRecord+' sản phẩm ('+page+'/'+totalPage+' trang)');
                                $.getJSON('http://localhost:3000/product?hot=1&_page='+page+'&_limit='+pagelimit, function(data){
                                    $("#all-product").empty();
                                    $.each($(data), function(i, products){
                                        $("#all-product").append(
                                            '<div class="col-md-4 col-sm-6 col-6">'+
                                                '<div class="container-product card">'+
                                                    '<a href="product_detail.html?id='+products.id+'" style="text-decoration: none;">'+
                                                        '<div class="card-img-top img-product" style="background: url('+products.imgCover+') no-repeat; background-position: 50% 50%; background-size: cover;"></div>'+
                                                        '<div class="card-body">'+
                                                            '<h4 class="name-products">'+products.name+'</h4>'+
                                                            '<h5 class="card-text price-product">'+products.price+'</h5>'+
                                                        '</div>'+
                                                        '<div class="overlay-product">'+
                                                            '<div class="info-overlay-product">'+
                                                                '<h4 class="name-products" style="color: white; margin-bottom: 3px">'+products.name+'</h4>'+
                                                                '<h5 class="card-text price-product">'+products.price+'</h5>'+
                                                                '<p class="specifications-product">Màn hình: '+products.specifications.screen+'</p>'+
                                                                '<p class="specifications-product">Hệ điều hành: '+products.specifications.os+'</p>'+
                                                                '<p class="specifications-product">Camera sau: '+products.specifications.endCamera+'</p>'+
                                                                '<p class="specifications-product">Camera trước: '+products.specifications.frontCamera+'</p>'+
                                                                '<p class="specifications-product">CPU: '+products.specifications.cpu+'</p>'+
                                                                '<p class="specifications-product">RAM: '+products.specifications.ram+'</p>'+
                                                                '<p class="specifications-product">Bộ nhớ trong: '+products.specifications.rom+'</p>'+
                                                                '<p class="specifications-product">Pin: '+products.specifications.battery+'</p>'+
                                                            '</div>'+
                                                        '</div>'+
                                                    '</a>'+
                                                '</div>'+
                                            '</div>'
                                        );
                                    });
                                    $("#text-header-search").text('Bán chạy');
                                    $(".price-product").simpleMoneyFormat();
                                });
                            }
                        });
                    });

                }else if(minValue != false & maxValue != false){
                    $(".container-pagination").css('display', 'none');
                    $.getJSON('http://localhost:3000/product', function(data){
                        $.each($(data), function(i, products){
                            if(parseInt(minValue) < parseInt(products.price) & parseInt(products.price) < parseInt(maxValue)){
                                $("#all-product").append(
                                    '<div class="col-md-4 col-sm-6 col-6">'+
                                        '<div class="container-product card">'+
                                            '<a href="product_detail.html?id='+products.id+'" style="text-decoration: none">'+
                                                '<div class="card-img-top img-product" style="background: url('+products.imgCover+') no-repeat; background-position: 50% 50%; background-size: cover;"></div>'+
                                                '<div class="card-body">'+
                                                    '<h4 class="name-products">'+products.name+'</h4>'+
                                                    '<h5 class="card-text price-product">'+products.price+'</h5>'+
                                                '</div>'+
                                                '<div class="overlay-product">'+
                                                    '<div class="info-overlay-product">'+
                                                        '<h4 class="name-products" style="color: white; margin-bottom: 3px">'+products.name+'</h4>'+
                                                        '<h5 class="card-text price-product">'+products.price+'</h5>'+
                                                        '<p class="specifications-product">Màn hình: '+products.specifications.screen+'</p>'+
                                                        '<p class="specifications-product">Hệ điều hành: '+products.specifications.os+'</p>'+
                                                        '<p class="specifications-product">Camera sau: '+products.specifications.endCamera+'</p>'+
                                                        '<p class="specifications-product">Camera trước: '+products.specifications.frontCamera+'</p>'+
                                                        '<p class="specifications-product">CPU: '+products.specifications.cpu+'</p>'+
                                                        '<p class="specifications-product">RAM: '+products.specifications.ram+'</p>'+
                                                        '<p class="specifications-product">Bộ nhớ trong: '+products.specifications.rom+'</p>'+
                                                        '<p class="specifications-product">Pin: '+products.specifications.battery+'</p>'+
                                                    '</div>'+
                                                '</div>'+
                                            '</a>'+
                                        '</div>'+
                                    '</div>'
                                );
                            }
                        });
                        $("#text-header-search").html('Từ <span id="minValue">'+minValue+'</span> đến <span id="maxValue">'+maxValue+'</span>');
                        $("#minValue").simpleMoneyFormat();
                        $("#maxValue").simpleMoneyFormat();
                        $(".price-product").simpleMoneyFormat();
                    });
                }else{
                    $.getJSON('http://localhost:3000/product?company='+companyValue, function(data){
                        var totalRecord = data.length;
                        var totalPage = Math.floor(totalRecord/pagelimit) + 1;
                        $("#number-product").text('Có '+totalRecord+' sản phẩm ('+page+'/'+totalPage+' trang)');
                        $.getJSON('http://localhost:3000/product?company='+companyValue+'&_page='+page+'&_limit='+pagelimit, function(data){
                            $.each($(data), function(i, products){
                                if(companyValue == products.company){
                                    $("#all-product").append(
                                        '<div class="col-md-4 col-sm-6 col-6">'+
                                            '<div class="container-product card">'+
                                                '<a href="product_detail.html?id='+products.id+'" style="text-decoration: none">'+
                                                    '<div class="card-img-top img-product" style="background: url('+products.imgCover+') no-repeat; background-position: 50% 50%; background-size: cover;"></div>'+
                                                    '<div class="card-body">'+
                                                        '<h4 class="name-products">'+products.name+'</h4>'+
                                                        '<h5 class="card-text price-product">'+products.price+'</h5>'+
                                                    '</div>'+
                                                    '<div class="overlay-product">'+
                                                        '<div class="info-overlay-product">'+
                                                            '<h4 class="name-products" style="color: white; margin-bottom: 3px">'+products.name+'</h4>'+
                                                            '<h5 class="card-text price-product">'+products.price+'</h5>'+
                                                            '<p class="specifications-product">Màn hình: '+products.specifications.screen+'</p>'+
                                                            '<p class="specifications-product">Hệ điều hành: '+products.specifications.os+'</p>'+
                                                            '<p class="specifications-product">Camera sau: '+products.specifications.endCamera+'</p>'+
                                                            '<p class="specifications-product">Camera trước: '+products.specifications.frontCamera+'</p>'+
                                                            '<p class="specifications-product">CPU: '+products.specifications.cpu+'</p>'+
                                                            '<p class="specifications-product">RAM: '+products.specifications.ram+'</p>'+
                                                            '<p class="specifications-product">Bộ nhớ trong: '+products.specifications.rom+'</p>'+
                                                            '<p class="specifications-product">Pin: '+products.specifications.battery+'</p>'+
                                                        '</div>'+
                                                    '</div>'+
                                                '</a>'+
                                            '</div>'+
                                        '</div>'
                                    );
                                }
                            });
                            $("#text-header-search").text(companyValue);
                            $(".price-product").simpleMoneyFormat();
                        });
                        $("#btn-prev").click(function(){
                            if(page > 1){
                                page = page - 1;
                                $("#number-product").text('Có '+totalRecord+' sản phẩm ('+page+'/'+totalPage+' trang)');
                                $.getJSON('http://localhost:3000/product?company='+companyValue+'&_page='+page+'&_limit='+pagelimit, function(data){
                                    $("#all-product").empty();
                                    $.each($(data), function(i, products){
                                        if(companyValue == products.company){
                                            $("#all-product").append(
                                                '<div class="col-md-4 col-sm-6 col-6">'+
                                                    '<div class="container-product card">'+
                                                        '<a href="product_detail.html?id='+products.id+'" style="text-decoration: none;">'+
                                                            '<div class="card-img-top img-product" style="background: url('+products.imgCover+') no-repeat; background-position: 50% 50%; background-size: cover;"></div>'+
                                                            '<div class="card-body">'+
                                                                '<h4 class="name-products">'+products.name+'</h4>'+
                                                                '<h5 class="card-text price-product">'+products.price+'</h5>'+
                                                            '</div>'+
                                                            '<div class="overlay-product">'+
                                                                '<div class="info-overlay-product">'+
                                                                    '<h4 class="name-products" style="color: white; margin-bottom: 3px">'+products.name+'</h4>'+
                                                                    '<h5 class="card-text price-product">'+products.price+'</h5>'+
                                                                    '<p class="specifications-product">Màn hình: '+products.specifications.screen+'</p>'+
                                                                    '<p class="specifications-product">Hệ điều hành: '+products.specifications.os+'</p>'+
                                                                    '<p class="specifications-product">Camera sau: '+products.specifications.endCamera+'</p>'+
                                                                    '<p class="specifications-product">Camera trước: '+products.specifications.frontCamera+'</p>'+
                                                                    '<p class="specifications-product">CPU: '+products.specifications.cpu+'</p>'+
                                                                    '<p class="specifications-product">RAM: '+products.specifications.ram+'</p>'+
                                                                    '<p class="specifications-product">Bộ nhớ trong: '+products.specifications.rom+'</p>'+
                                                                    '<p class="specifications-product">Pin: '+products.specifications.battery+'</p>'+
                                                                '</div>'+
                                                            '</div>'+
                                                        '</a>'+
                                                    '</div>'+
                                                '</div>'
                                            );
                                        }
                                    });
                                    $("#text-header-search").text(companyValue);
                                    $(".price-product").simpleMoneyFormat();
                                });
                            }
                        });
                        $("#btn-next").click(function(){
                            if(page*pagelimit < totalRecord){
                                page = page + 1;
                                $("#number-product").text('Có '+totalRecord+' sản phẩm ('+page+'/'+totalPage+' trang)');
                                $.getJSON('http://localhost:3000/product?company='+companyValue+'&_page='+page+'&_limit='+pagelimit, function(data){
                                    $("#all-product").empty();
                                    $.each($(data), function(i, products){
                                        if(companyValue == products.company){
                                            $("#all-product").append(
                                                '<div class="col-md-4 col-sm-6 col-6">'+
                                                    '<div class="container-product card">'+
                                                        '<a href="product_detail.html?id='+products.id+'" style="text-decoration: none;">'+
                                                            '<div class="card-img-top img-product" style="background: url('+products.imgCover+') no-repeat; background-position: 50% 50%; background-size: cover;"></div>'+
                                                            '<div class="card-body">'+
                                                                '<h4 class="name-products">'+products.name+'</h4>'+
                                                                '<h5 class="card-text price-product">'+products.price+'</h5>'+
                                                            '</div>'+
                                                            '<div class="overlay-product">'+
                                                                '<div class="info-overlay-product">'+
                                                                    '<h4 class="name-products" style="color: white; margin-bottom: 3px">'+products.name+'</h4>'+
                                                                    '<h5 class="card-text price-product">'+products.price+'</h5>'+
                                                                    '<p class="specifications-product">Màn hình: '+products.specifications.screen+'</p>'+
                                                                    '<p class="specifications-product">Hệ điều hành: '+products.specifications.os+'</p>'+
                                                                    '<p class="specifications-product">Camera sau: '+products.specifications.endCamera+'</p>'+
                                                                    '<p class="specifications-product">Camera trước: '+products.specifications.frontCamera+'</p>'+
                                                                    '<p class="specifications-product">CPU: '+products.specifications.cpu+'</p>'+
                                                                    '<p class="specifications-product">RAM: '+products.specifications.ram+'</p>'+
                                                                    '<p class="specifications-product">Bộ nhớ trong: '+products.specifications.rom+'</p>'+
                                                                    '<p class="specifications-product">Pin: '+products.specifications.battery+'</p>'+
                                                                '</div>'+
                                                            '</div>'+
                                                        '</a>'+
                                                    '</div>'+
                                                '</div>'
                                            );
                                        }
                                    });
                                    $("#text-header-search").text(companyValue);
                                    $(".price-product").simpleMoneyFormat();
                                });
                            }
                        });
                    });
                }

                $("#submitFilter").click(function(){
                    if(parseInt($("#min-price").val()) <= parseInt($("#max-price").val())){
                        $("#filter").submit();
                    }else{
                        alert('Số tiền nhỏ nhất không được lớp hơn số tiền lớn nhất!')
                    }
                })
            });
        </script>
    </body>
</html>